<div class="yobi-editor container-fluid">
  <form action="#">
    <div class="row">
      <input id="editor-title" type="text" class="col-xs-12" placeholder="titles here" value="{{editor.title}}">
    </div>
    <div class="row">
      <span id="markdown-help-btn" ng-click="$scope.showHelp = !$scope.showHelp" class="btn btn-sm btn-default" ng-class="{active: $scope.showHelp}">마크다운 가이드</span>
      <span id="markdown-simple-input-btn" ng-click="$scope.showSimpleInput = !$scope.showSimpleInput" class="btn btn-sm btn-default" ng-class="{active: $scope.showSimpleInput}">마크다운 간편입력기</span>
    </div>
    <div class="markdown-help" ng-show="$scope.showHelp">
      <ng-include src="'help/markdown.html'"></ng-include>
    </div>
    <div ng-show="$scope.showSimpleInput">
      <div class="btn-group">
        <span class="btn btn-sm btn-default">h1</span>
        <span class="btn btn-sm btn-default">h2</span>
        <span class="btn btn-sm btn-default">h3</span>
      </div>
      <div class="btn-group">
      <span class="btn btn-sm btn-default">bold</span>
      <span class="btn btn-sm btn-default">strike</span>
      </div>
      <span class="btn btn-sm btn-default">link</span>
    </div>
    <div class="row">
      <textarea rows="12" class="editor-contents col-xs-12"></textarea>
    </div>
    <div class="row editor-contents-footer">
      <div class="pull-left col-md-6">
        <button class="btn btn-default">attachment +</button> or mouse dragging & dropping
      </div>
      <div class="pull-right editor-optionals btn">
        optionals here..
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-xs-offset-4">
        <input type="button" name="cancel" value="cancel" class="btn btn-default">
        <input type="button" name="preview" value="preview" class="btn btn-default">
        <input type="button" name="save" value="save" class="btn btn-danger">
      </div>
    </div>
  </form>
</div>