<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/At.js/dist/css/jquery.atwho.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <div class="yobi-editor container-fluid" ng-controller="EditorCtrl">
    <form action="#">
      <div class="row">
        <input id="editor-title" type="text" class="col-xs-12" placeholder="titles here">
      </div>
      <div class="row">
        <span id="markdown-help-btn" ng-click="$scope.showHelp = !$scope.showHelp" class="btn">마크다운 가이드</span>
        <span id="markdown-simple-input-btn" class="btn">마크다운 간편입력기</span>
      </div>
      <div class="markdown-help" ng-show="$scope.showHelp">
        <ng-include src="'help/markdown.html'"></ng-include>
      </div>
      <div class="row">
        <textarea id="editor-contents" rows="12" class="col-xs-12"></textarea>
      </div>
      <div class="row editor-contents-footer">
        <div class="pull-left col-md-6">
          <button class="btn btn-default">attachment +</button> or mouse dragging & dropping
        </div>
        <div class="pull-right editor-optionals btn">
          optionals here..
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 col-xs-offset-4">
            <input type="button" name="cancel" value="cancel" class="btn btn-default">
            <input type="button" name="preview" value="preview" class="btn btn-default">
            <input type="button" name="save" value="save" class="btn btn-danger">
        </div>
      </div>
    </form>
  </div>
<hr>
  <div class="yobi-editor container-fluid" ng-controller="EditorCtrl">
    <form action="#">
      <div class="row">
        <input id="editor-title" type="text" class="col-xs-12" placeholder="titles here">
      </div>
      <div class="row">
        <span id="markdown-help-btn" ng-click="$scope.showHelp = !$scope.showHelp" class="btn">마크다운 가이드</span>
        <span id="markdown-simple-input-btn" class="btn">마크다운 간편입력기</span>
      </div>
      <div class="markdown-help" ng-show="$scope.showHelp">
        <ng-include src="'help/markdown.html'"></ng-include>
      </div>
      <div class="row">
        <textarea id="editor-contents" rows="12" class="col-xs-12"></textarea>
      </div>
      <div class="row editor-contents-footer">
        <div class="pull-left col-md-6">
          <button class="btn btn-default">attachment +</button> or mouse dragging & dropping
        </div>
        <div class="pull-right editor-optionals btn">
          optionals here..
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 col-xs-offset-4">
          <input type="button" name="cancel" value="cancel" class="btn btn-default">
          <input type="button" name="preview" value="preview" class="btn btn-default">
          <input type="button" name="save" value="save" class="btn btn-danger">
        </div>
      </div>
    </form>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="bower_components/Caret.js/dist/jquery.caret.js"></script>
  <script src="bower_components/At.js/dist/js/jquery.atwho.js"></script>
  <script>
    $('#editor-contents').atwho({
      at: "@",
      data:['npcode', 'changsung', 'doortts']
    }).atwho({
      at: "#",
      data: ["#1. 첫번째 이슈", "#2. 두번째 이슈", "#3. 세번째 이슈"]
    });
  </script>
</body>
</html>
