<div class="yobi-editor container-fluid">
  <div class="row markdown-rendered">
    <div class="rendered-preview col-xs-12"></div>
  </div>
  <form action="{{action}}" method="{{method}}">
    <div class="row">
      <input type="text" class="col-xs-12" placeholder="titles here" value="{{::contents.title}}">
    </div>
    <div class="row">
      <span ng-click="showHelp = !showHelp" class="btn btn-sm btn-default markdown-help-btn" ng-class="{active: showHelp}">마크다운 가이드</span>
      <span ng-click="showSimpleInput = !showSimpleInput" class="btn btn-sm btn-default markdown-simple-input-btn" ng-class="{active: showSimpleInput}">마크다운 간편입력기</span>
    </div>
    <div class="markdown-help" ng-show="showHelp">
      <ng-include src="MODULE_ROOT_PATH + '/help/markdown.html'"></ng-include>
    </div>
    <div ng-show="showSimpleInput">
      <ng-include src="MODULE_ROOT_PATH + '/help/simple-input-buttons.html'"></ng-include>
    </div>
    <div class="row">
      <textarea rows="12" class="editor-contents col-xs-12">{{::contents.body}}</textarea>
    </div>
    <div class="row editor-contents-footer">
      <div class="pull-left col-md-6">
        <button class="btn btn-default">attachment +</button> or mouse dragging & dropping
      </div>
      <div class="pull-right editor-optionals btn">
        optionals here..
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-xs-offset-4">
        <input type="button" name="preview" value="preview" class="btn btn-default" ng-click="renderMarkdownText(); $event.stopPropagation();">
        <input type="submit" name="save" value="save" class="btn btn-danger">
      </div>
    </div>
  </form>
</div>